---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Helianthu&strict=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.13.1 Gbif/v0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Url:
      - "/v1/species/match?name=Helianthu&strict=false"
    body:
      encoding: UTF-8
      string: '{"confidence":100,"note":"Multiple equal matches for Helianthu","matchType":"NONE","synonym":false}'
  recorded_at: Fri, 08 Sep 2017 00:24:14 GMT
recorded_with: VCR 3.0.3
