---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/?limit=100&name=Unknown%20umbellifer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.4.0 Gbif/v0.1.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: Wed, 03 Aug 2022 16:37:49 GMT
recorded_with: VCR 6.1.0
