---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/?data=all&limit=100&name=Unknown%20umbellifer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Gbif/v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[]}'
  recorded_at: Sun, 25 Apr 2021 00:30:50 GMT
recorded_with: VCR 6.0.0
