---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/?limit=100&sourceId=115091
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.4.0 Gbif/v0.1.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":100982049,"nubKey":4470449,"nameKey":1977569,"taxonID":"115091","kingdom":"Animalia","kingdomKey":198017625,"datasetKey":"1bd42c2b-b58a-4a01-816b-bec8c8977927","parentKey":198017625,"parent":"Animalia","scientificName":"Carabus
        banonii Dejean, 1829","canonicalName":"Carabus banonii","authorship":"Dejean,
        1829","nameType":"SCIENTIFIC","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2022-08-01T14:23:46.274+00:00","lastInterpreted":"2022-08-01T14:50:50.770+00:00","issues":["TAXONOMIC_STATUS_INVALID"],"synonym":false},{"key":101761367,"nubKey":2097066,"nameKey":10433766,"taxonID":"115091","kingdom":"Animalia","phylum":"Arthropoda","order":"Neuroptera","family":"Sisyridae","genus":"Sisyra","species":"Sisyra
        vicaria","kingdomKey":101683523,"phylumKey":101701105,"classKey":101760843,"orderKey":101761049,"familyKey":101761358,"genusKey":101761364,"speciesKey":101761367,"datasetKey":"9ca92552-f23a-41a8-a140-01abaa31c931","parentKey":101761364,"parent":"Sisyra","scientificName":"Sisyra
        vicaria (Walker, 1853)","canonicalName":"Sisyra vicaria","authorship":"(Walker,
        1853) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2022-08-01T14:48:29.396+00:00","lastInterpreted":"2022-08-01T16:38:58.986+00:00","issues":["SCIENTIFIC_NAME_ASSEMBLED"],"synonym":false,"class":"Insecta"},{"key":104799639,"nameKey":4954421,"taxonID":"115091","kingdom":"Metazoa","phylum":"Arthropoda","order":"Hymenoptera","family":"Halictidae","genus":"Halictus","species":"Halictus
        crenicornis","kingdomKey":103832354,"phylumKey":104183026,"classKey":104295797,"orderKey":104751628,"familyKey":104799331,"genusKey":104799550,"speciesKey":104799639,"datasetKey":"fab88965-e69d-4491-a04d-e3198b626e52","parentKey":104799637,"parent":"Halictus","scientificName":"Halictus
        crenicornis","canonicalName":"Halictus crenicornis","authorship":"","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2022-08-01T14:48:30.139+00:00","lastInterpreted":"2022-08-01T18:30:42.796+00:00","issues":["BACKBONE_MATCH_NONE"],"synonym":false,"class":"Insecta"},{"key":114811391,"nubKey":3599862,"nameKey":11397971,"taxonID":"115091","kingdom":"Plantae","family":"Cyatheaceae","genus":"Cyathea","species":"Cyathea
        pungens","kingdomKey":196160883,"familyKey":114811146,"genusKey":114811164,"speciesKey":114811372,"datasetKey":"aacd816d-662c-49d2-ad1a-97e66e2a2908","parentKey":114811164,"parent":"Cyathea","acceptedKey":114811372,"accepted":"Cyathea
        pungens (Willd.) Domin","basionymKey":114811392,"basionym":"Alsophila obtusa
        Klotzsch","scientificName":"Trichipteris obtusa (Klotzsch) Tryon","canonicalName":"Trichipteris
        obtusa","authorship":"(Klotzsch) Tryon","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"Parent
        relation taken from synonym Trichipteris C.Presl","numDescendants":0,"references":"http://reflora.jbrj.gov.br/reflora/listaBrasil/FichaPublicaTaxonUC/FichaPublicaTaxonUC.do?id=FB115091","lastCrawled":"2022-06-23T01:44:02.163+00:00","lastInterpreted":"2022-06-24T08:05:52.914+00:00","issues":["NOMENCLATURAL_STATUS_INVALID"],"synonym":true},{"key":123316871,"nubKey":1097026,"nameKey":9185051,"taxonID":"115091","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Cerambycidae","genus":"Prionus","kingdomKey":123221224,"phylumKey":123225149,"classKey":123250244[...]
