---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&q=kingfisher&spellCheck=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.13.1 Gbif/v0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Url:
      - "/v1/occurrence/search?limit=20&offset=0&q=kingfisher&spellCheck=true"
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":233749,"results":[{"key":1178116433,"datasetKey":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","publishingOrgKey":"e2e717bf-551a-4917-bdc9-4fa0f342c530","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2016-11-24T20:21:03.771+0000","lastParsed":"2016-11-24T20:21:03.784+0000","crawlId":7,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","individualCount":21,"taxonKey":2495414,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1446,"familyKey":5233,"genusKey":2495404,"speciesKey":2495414,"scientificName":"Columba
        livia Gmelin, 1789","kingdom":"Animalia","phylum":"Chordata","order":"Columbiformes","family":"Columbidae","genus":"Columba","species":"Columba
        livia","genericName":"Columba","specificEpithet":"livia","taxonRank":"SPECIES","decimalLongitude":-97.932198,"decimalLatitude":35.860563,"stateProvince":"Oklahoma","year":2014,"month":6,"day":24,"eventDate":"2014-06-24T00:00:00.000+0000","issues":["COORDINATE_ROUNDED"],"lastInterpreted":"2017-02-17T15:55:49.761+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States","identifier":"OBS286868643","catalogNumber":"OBS286868643","recordedBy":"obsr188744","institutionCode":"CLO","county":"Kingfisher","locality":"Kingfisher
        - Kingfisher","gbifID":"1178116433","collectionCode":"EBIRD","occurrenceID":"URN:catalog:CLO:EBIRD:OBS286868643"},{"key":145539424,"datasetKey":"82cb293c-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"95f1c5d0-8996-11d9-a962-b8a03c50a862","publishingCountry":"US","protocol":"DIGIR_MANIS","lastCrawled":"2013-09-07T07:07:10.000+0000","crawlId":1,"extensions":{},"basisOfRecord":"OBSERVATION","taxonKey":2495347,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1446,"familyKey":5233,"genusKey":2495346,"speciesKey":2495347,"scientificName":"Zenaida
        macroura (L[...]
