---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Helianthus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.13.1 Gbif/v0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Url:
      - "/v1/species/match?name=Helianthus"
    body:
      encoding: UTF-8
      string: '{"usageKey":3119134,"scientificName":"Helianthus L.","canonicalName":"Helianthus","rank":"GENUS","status":"ACCEPTED","confidence":94,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3119134,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: Fri, 08 Sep 2017 00:24:13 GMT
recorded_with: VCR 3.0.3
