---
http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Helianthus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.4.0 Gbif/v0.1.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":3119134,"scientificName":"Helianthus L.","canonicalName":"Helianthus","rank":"GENUS","status":"ACCEPTED","confidence":94,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3119134,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: Wed, 03 Aug 2022 16:37:45 GMT
recorded_with: VCR 6.1.0
